
.navbar-logo
{
	padding: 0;
	margin-right: 20px;
}

#signinButton
{
	margin-bottom: 0;
}

.profile-image
{
	margin-top: -5px;
	margin-bottom: -5px;
	margin-right: 10px;
	float: left;
	height: 30px;
	width: 30px;
}
