.profile 
{
	width: 80%;
	margin: auto;

	> .heading
	{
		width: 100%;
		height: 150px;
		background-color: white;
		padding: 20px;
		margin: auto;

		> .large-profile-image
		{
			float: left;
			margin-right: 30px;
			height: 100px;
			width: 100px;
		}

		> h2, h5
		{
			display: inline;
		}

		> .edit-button {
		right: 0px;
		display: inline;
		float: right;

			> a 
			{
				text-decoration: none;
				color: black;
			}
		}

	}

	.bio 
	{
		background-color: #f8f8f8;
		width: 50%;
		height: 200px;
		float: left;
		padding: 10px;

		> h3
		{
			margin: 5px;
		}
	}
}

.edit-profile 
{
	> .large-profile-image
	{
		float: left;
		margin-right: 30px;
		height: 100px;
		width: 100px;
	}


}

th, td
{
	width: 300px;

	>.edit-input
	{
		width: 100%;
		margin: 5px;
		padding: 2px;	
	}

}


.stats-table 
{
 margin-left: 5%;
 background-color: #f8f8f8;
 border-top: 1px solid #e0e0e0;
 border-bottom: 1px solid #eee;
 width: 45%;
 float: left;
}