////******* Main Profile Page ***********/////

.profile 
{
	width: 80%;
	margin: auto;

	> .heading
	{
		width: 100%;
		height: 150px;
		background-color: white;
		padding: 20px;
		margin: auto;

		> .large-profile-image
		{
			float: left;
			margin-right: 30px;
			height: 100px;
			width: 100px;
		}

		> h2, h5
		{
			display: inline;
		}

		> .edit-button {
		right: 0px;
		display: inline;
		float: right;
		padding: .3em .6em;
		// box-shadow: 0 2px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.4) inset;
		background-color: #333;
		color: #fff;
		border: 1px solid #000 !important;
		// border-radius: 3px;

			> a 
			{
				text-decoration: none;
				color: #fff;
			}
		}

	}

	.bio 
	{
		background-color: #f8f8f8;
		width: 50%;
		height: 186px;
		float: left;
		padding: 10px;
		box-shadow: 0px 2px 2px 1px #e0e0e0;
 		border-radius: 3px;

		> h3
		{
			margin: 5px;
		}
	}

	.stats-table 
	{
	 margin-left: 1%;
	 background-color: #f8f8f8;
	 box-shadow: 0px 2px 2px 1px #e0e0e0;
	 border-radius: 3px;
	 width: 49%;
	 float: left;
	}
}

////******* Edit Page ***********/////

.edit-profile 
{
	h2 
	{
		margin-left: 25%;
		margin-bottom: 20px;
	}
 .edit-table
	{
		margin: auto;
	}

	th, td
	{
		padding: 2px;
		margin: 15px;

		>.edit-input
		{
			width: 100%;
			margin: 5px;
		}

		>.edit-bio
		{
			height:150px;
		}

		>#submit, .default-image
		{
			padding: .3em .6em;
			box-shadow: 0 2px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.4) inset;
			background-color: #333;
			color: #fff;
			border: 1px solid #000 !important;
			border-radius: 3px;
		}

	}

}


.games-table
{
	background-color: #eee;
	box-shadow: 0px 2px 2px 1px #e0e0e0;
 	border-radius: 3px;
}