extends ../layout

append Css
	style.
		#signinButton { display: none; }

append Js
	script(src=js.auth.google_logout)

block NavBarLinks
block NavBarButtons
block NavBarRight

block Content
	.bs-callout-info
		h4 Logging you out...
		p Give us just a second.
	include _google-signin
	