extends ../layout

append Js
	script(src=js.jquery)
	script window.pongLogout = { clientId: "!{login.clientId}", scopes: "!{login.scopes}" };
	script(src=js.auth.google_logout)
	//script(src'//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
	//script(src='https://apis.google.com/js/plusone.js')
	//script(src='https://apis.google.com/js/client:plusone.js?onload=onGoogleLoad')

block NavBarLinks
block NavBarButtons
block NavBarRight

block Content
	.bs-callout-info
		h4 Logging you out...
		p Give us just a second.
	include _google-signin
	