extends ../layout

block Content
	.bs-callout-danger
		h4 Oops, this page requires you to be logged in!
		p Use the #[strong Sign in with Google] button in the upper right to log in or sign up for a new account.
		