extends ../../layout
include ../../mixins

append Css
	link(type='text/css', rel='stylesheet', href=less.mixins)

head
	style(type='text/css').
		

block Content
	table.table
		tr
			th(colspan=3).header Affiliations
		tr
			th Name
		each affiliation in affiliations
			tr
				td
					<span>#{affiliation.name}</span> 
				td
					a(href="/admin/affiliations/#{affiliation.id}/delete") Delete
				td
					a(href="/admin/affiliations/#{affiliation.id}/edit") Edit
					
		
	form(method='post' action='/admin/affiliations/new')
		input(type='text', name='new_affiliation', placeholder='affiliation', class='form-control score')
		input(type='submit', class='btn btn-default submit', value="Add Affiliation")
			
