extends ../../layout
include ../../mixins

append Css
	link(type='text/css', rel='stylesheet', href=less.mixins)

append Css
	link(type='text/css', rel='stylesheet', href="/static/css/bootstrap-editable.css")
append Js
	script(src="/static/js/bootstrap-editable.js")

append Js
	script(type='text/javascript').
			$(document).ready(function() {
			$.fn.editable.defaults.mode = 'inline';
			$('.affiliation').editable();
			});


block Content
	table.table
		tr
			th(colspan=2).header Affiliations
		each affiliation in affiliations
			tr
				td
					a(href='#', class='affiliation', data-type='text', data-pk='#{affiliation.id}', data-url='/admin/affiliations/update', data-title='Affiliation') #{affiliation.name}
				td(align='right')
					a(href="/admin/affiliations/#{affiliation.id}/delete", class="btn btn-danger") Delete

		
	form(method='post' action='/admin/affiliations/new', class='form-inline editableform')
		input(type='text', name='new_affiliation', placeholder='New affiliation', class='form-control score' autofocus)
		input(type='submit', class='btn btn-action submit', value="Add")
			
