extends ../layout

block Header
    h1 All Games

block Content
    table
        tr
            td
                b Player
            td
                b Rating
        each item in ratings
            tr
                td #{item.player_name}
                td #{item.player_rating}
