extends ../layout


block Content
  h2 Record a new game.
  form(method='post' action='create')
    input(type="radio", name='game_types[id]', id='singles', value='1' checked) 
    | Singles
    input(type="radio", name='game_types[id]', id='doubles', value='2') 
    | Doubles
    div.input-form
    