extends ../layout
include ../mixins

append Css
	link(type='text/css', rel='stylesheet', href=less.mixins)

block Content
		h2 Recent Games
		table.table.table-striped
			tr
				th Winner
				th Loser 
				th Score
				th Date played
			each game in games
				tr
					td 
						+renderTeam(game.team1)
					td
						+renderTeam(game.team2)
					td #{game.team1Score}-#{game.team2Score} 
					td
						+relativeTime(game.played_date)