extends ../layout

mixin renderTeam(team)
	each player, i in team
		span.player #{player.name}

block Content
		h2 Recent Games
		table.table.table-striped
			tr
				th Winner
				th Loser 
				th Score
				th Date played
			each game in games
				tr
					td.team 
						+renderTeam(game.team1)
					td.team
						+renderTeam(game.team2)
					td #{game.team1Score}-#{game.team2Score} 
					td #{game.playedDateRelativeTime()}